@import "reset.less";
@import "../components/Header/Header.less";
@import "../components/Carousel/Carousel.less";


html    {
    background: #f7f7f7;
}

:root   {
    font-family: "Fira Sans";
}

.container  {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}