/*
.carousel   {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel__image   {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel__track-container   {
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .carousel__track   {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in-out;
  }
  
  .carousel__slide   {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .carousel__button   {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: navajowhite;
    border-radius: 0;
    cursor: pointer;;
  }
  
  .carousel__button--left   {
    left: 30px;
  }
  
  .carousel__button--right   {
    right: 30px;
  }
  
  .carousel__button span   {
    display: block;
    width: 10px;
  }
  
  .carousel__nav   {
    background: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .carousel__indicator   {
    border:0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #ccc;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    border: 0;
  }
  
  .carousel__indicator.current-slide   {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .is-hidden   {
    display: none;
  }

  */

  .carousel   {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #222;
    //background-blend-mode: overlay;

    .carousel-inner   {
    width: 100%;
    margin: 0 auto;
    position: relative;
    }

    img   {
      width: 100%;
      height: calc(100vh - 120px);
      object-fit: cover;
    }

    .carousel__button   {
      position: absolute;
      transform: translateY(-50%);
      background: #fff;
      border-radius: 0;
      cursor: pointer;
      font-size: 1rem;
    }

    .carousel__button--left   {
      bottom: 50%;
      z-index: 10;
      left: 30px;
    }
    
    .carousel__button--right   {
      top: 50%;
      right: 30px;
    }

    &-item:not(:nth-of-type(1)) {
      display: none;
    }

    .slide-caption  {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2  {
        font-size: @carouselHeaderFont;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        background-blend-mode: difference;

        @media (max-width: @mobile)   {
          font-size: 2rem;
          font-weight: 500;
          top: 20%;
        }
      }

      .subscribe  {
        width: 40%;
        display: block;
        padding: 10px;
        background: #0180C7;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        outline: none;
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;

        @media (max-width: @mobile)   {
          font-size: 1rem;
          padding: 1rem 2rem;
          width: 50%;
          padding: .7rem;
        }
      }
    }

    .read-more    {
      display: block;
      padding: 15px 25px;
      background-color: #0180C7;
      color: #fff;
      margin-top: 10px;
      border-radius: 5px;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;

    }
  }


  